@import "variables.css";

html {
	height: 100vh;
	width: 100vw;
	/* ! Now 1rem will always be 10px */
	font-size: 10px;

	overflow: hidden;
	scroll-behavior: smooth;
}

section {
	height: fit-content;
	width: fit-content;
}

body {
	height: calc(100% - 4rem);
	margin: 2rem 0rem 2rem 0rem;

	font-size: 1.5rem;

	color: var(--text-color-dark);
	background-color: var(--background-color-dark);
	word-wrap: break-word;
}

#master {
	position: relative;
	height: 100%;
	width: 100%;
}

#menu {
	/* ! This is to change the height of the menu bar
     ! Plz make this mobile response (or you can let me handle
     ! this after you are done with the menu). */
	height: 0rem;
}

#map {
  /* This file is made available under the Creative Commons CC0 1.0 Universal Public Domain Dedication */
  /* Khayri R.R. Woulfe, CC0, via Wikimedia Commons */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/404UnicornNotFound.svg);
  background-repeat: no-repeat;
  background-position: center;
  
	position: relative;
	width: 100%;
	/* ! This needs to be changed with the #menu height.
     ! 100% - #menu { height } */
	height: calc(100% - 54.4px);
	color: var(--text-color-light);
	z-index: 0;
}

#current-markers {
	color: var(--text-color-dark);
	background-color: #f5f1e6;
	border-radius: 2rem;

	position: fixed;
	bottom: 2rem;
	left: 0;

	padding: 2rem;
	margin: 15px 15px 15px 15px;
	z-index: 2;
}
#help {
  /* HirnSpuk, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Wikibooks-help-icon.svg);
  background-size: contain;
	width: 2.5rem;
  height: 2.5rem;
  right: 0;
  margin: -29px 15px 0 0;

	position: absolute;
  z-index: 2;
}
#help:hover {
  cursor: pointer;
}

#hide-results-button {
	content: "";

	background-color: var(--accent-color-dark);
	border-radius: 1rem;
	position: absolute;
	z-index: 3;

	padding: 4rem 1rem 4rem 2rem;
	margin: 50% -2rem 0 0;
	transform: translateY(-50%);

	top: 0;
	right: 0;
}
#hide-results-button::after {
	content: "HIDE";
	font-family: Impact, "Courier New", Courier, monospace;
  font-size: 1.25em;
	color: var(--text-color-dark);
	width: fit-content;

	position: absolute;
	margin: -0.5em 0 0 -2.25rem;

	transform: rotate(90deg);
}
#hide-results-button:hover {
	background-color: var(--accent-color-light);
  cursor: pointer;
}

#reset-zoom-button {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--accent-color-dark);
  border: none;
  padding: .5rem;
  width: 7em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#reset-zoom-button:hover {
  background-color: var(--accent-color-light);
  cursor: pointer;
}

#info-content{
  color: var(--text-color-dark);
}
#info-content h1 {
  font-size: 1em;
}

.resultsCollapse #hide-results-button::after,
.resultsCollapsed #hide-results-button::after {
	content: "EXPAND";
	margin: -0.5em 0 0 -3.15rem;
}

.resultsExpand {
	margin-left: 15px;
	animation-name: resultsToggle;
	animation-duration: 1s;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}
.resultsCollapse {
	animation-name: resultsToggle;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
.resultsCollapsed {
	margin-left: -220px !important;
	animation-name: resultsToggle;
	-webkit-animation-name: none !important;
}
.resultsExpanded {
	margin-left: 15px !important;
	animation-name: resultsToggle;
	-webkit-animation-name: none !important;
}

@keyframes resultsToggle {
	from {
		margin-left: 15px;
	}
	to {
		margin-left: -220px;
	}
}

#results-list {
	position: relative;
	width: 100%;

	max-height: 18rem;
	max-width: 18rem;
	min-width: 4em;

	padding-left: 1.25rem;
	margin: 0 0 1em 0;

	overflow-y: scroll;
	scrollbar-width: thin;
}

#reset-zoom {
	position: relative;
	margin: 0 0 0 50%;
	transform: translateX(-50%);
}

@media (max-width: 1000px) {
	#map {
		height: calc(100% - 34.4px);
	}
}

@media (max-width: 930px) {
	#map {
		height: calc(100% - 68.8px);
	}
}

@media (max-width: 530px) {
	#map {
		height: calc(100% - 103.2px);
	}
}

@media (max-width: 397px) {
	#map {
		height: calc(100% - 137.6px);
	}
}

@media (max-width: 262px) {
	#map {
		height: calc(100% - 240.8px);
	}
}
