:root {
	--background-color-light: #ebe3cd;
	--background-color-dark: #523735;
	--text-color-light: var(--background-color-light);
	--text-color-dark: var(--background-color-dark);

	--accent-color-light: #e98d58;
	--accent-color-dark: #e9bc62;
}
