:root {
	--background-color-light: whitesmoke;
	--background-color-dark: rgb(43, 43, 43);
	--text-color-light: var(--background-color-light);
	--text-color-dark: var(--background-color-dark);

	--accent-color-light: mediumpurple;
	--accent-color-dark: purple;
}
